<footer class="footer footer--grain">
  <div class="container align-center">
    <div style="padding-top: 25px; padding-bottom: 15px"></div>
    <br />
    <div class="footer-logo">
      <a>Ticketix</a>
    </div>
    <div class="footer-element">
      <li routerLink="/about">About Us</li>
      <li routerLink="/contact">Contact Us</li>
      <li routerLink="/browse-events">Event</li>
      <li routerLink="/my-tickets">My Ticket</li>
    </div>
  </div>
  <div class="divider"></div>
  <div class="footer__seperator--emboss"></div>
  <div class="container">
    <div class="row row--space-between row--1-t padding-s">
      <div class="col color-white font--s align-center-t">
        © HELP UNIVERSITY — Event Management System
      </div>
    </div>
  </div>
</footer>
